body {
    background: #1f1d1f;
}

#wrapperMainNav {
    background: #335053;
}

#wrapperMainNav img {
    filter: invert(1) hue-rotate(180deg);
}


/*========================================================*/
div#page header {
    background: rgba(57, 102, 41, 0.71);
}

div#page header h1 {
    color: rgb(152, 190, 213);
}

div#page header section p {
    background: #0d5454;
    color: #a8b9c7;
}


/*========================================================*/
#corps, footer, #topNav {
    filter: invert(1) hue-rotate(180deg);
}