@import url(fonts/GlacialIndifference/glacial-indifference.css);
@import url(fonts/Comfortaa/comfortaa-bold.css);

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(images/fond.jpg);
    background-color: #dcdcdc;
    background-position: top center;
	background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}




/*========================================================*/
#topNav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 2;
    margin: -.5rem 0 0;
    height: 3rem;
    width: 100vw;
    padding: .4rem 1rem;
    background-color: #f0f8ff;
}

#topNav div {
    display: flex;
    align-items: center;
}

#topNav a, #topNav button {
    border: 1px solid #1e1e1e ;
    padding: .4rem;
    margin-top: .55rem;
    margin-left: .5rem;
    font-family: sans-serif;
    font-weight: bold;
    font-size: .8rem;
    transition-duration: 0.3s;
    border-radius: .1rem;
}

#topNav a:hover {
    background-color: indianred;
    color: ivory;
}

#topNav img {
    height: 3rem;
    margin-right: .5rem;
}

#topNav button {
    background: #3f3f41;
    color: #dcdcdc;
    float: right;
    margin-right: 3rem;
    transition-duration: 0.3s;
}

#topNav button:hover {
    background: #dcdcdc;
    color: #3f3f41;
}




/*========================================================*/
#wrapperMainNav {
    height: 5rem;
    margin-top: 3.3rem;
    background: #96d7dd;
}

#wrapperMainNav a#home::before {
    content: '';
    display: inline-block;
    width: 10rem;
    height: 5rem;
    background-image: url('images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 2rem;
}

#mainNav {
    text-align: right;
    padding: 1.9em;
    position: relative;
    bottom: 105%;
}

#wrapperMainNav img {
    height: 80%;
    margin: 0;
    padding: .5rem 0 .5rem 2rem;
}

#wrapperMainNav nav#mainNav a {
    background-color: #464839;
    color: #f5ffc6;
    padding: 1.1rem;
    margin: .4rem;
    font-size: 1rem;
    border-radius: .5rem;
    border: 2px solid #464839;
    transition-duration: 0.3s;
}

#wrapperMainNav nav#mainNav a:hover {
    background-color: antiquewhite;
    color: #1e1e1e;
}





/*===================================================================================*/
footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1e1e1e;
    text-align: center;
    padding: 2.5rem 2rem 2rem;
    margin-top: 2rem;
    background: #e2dfe2;
    background: linear-gradient(0deg, rgba(226, 223, 226, 0.829) 68%, rgba(9,9,121,0) 100%); 
}




/*========================================================*/
#haut {
    position: fixed;
    display: none;
    background-color: rgba(132, 132, 132, 0.71);
    right: 1rem;
    bottom: 1rem;
    padding: .5rem;
    border-radius: .2rem;
    width: 2.5rem;
    height: 2.5rem;
    transition: .3s;
}

#haut:hover {
    background-color: rgba(132, 132, 132, 1);
    border-radius: 20rem;
}

#haut svg {
    transform: rotate(270deg);
    filter: invert(1);
    width: 100%;
    height: 100%;
}



/*===============================================================*/
#cookieNotice {
    position: fixed;
    right: 15%;
    bottom: 1rem;
    left: 15%;
    height: 5rem;
    padding: 0 2rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 3;
    border-radius: .5rem;
    font-family: consolas, monospace;
    
    background: #ffffff;
    box-shadow: 0px 0px 10px 0px #0f0f0f38;
}

#cookieNotice button {
    background: #000000;
    color: #ffffff;
    cursor: pointer;
    border-radius: .5rem;
    border: 1px solid #000000;
    font-size: 1rem;
    padding: .3rem .5rem;
    width: max-content;
    transition-duration: .3s;
}

#cookieNotice button:hover {
    background: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    text-decoration: none;
}

#cookieNotice h3 {
    font-size: 1rem;
}






/*==============================================================================*/
@media only screen and (max-width: 600px){
    body {
        background-size: cover;
    }


    /*=========================================*/
    nav#topNav {
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav#topNav img {
        display: none;
    }
    
    nav#topNav a {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background: #0f0f0f0f;
    }
    
    nav#topNav a img {
        display: inline-flex;
        height: 2rem;
    }


    /*=========================================*/
    div#wrapperMainNav {
        display: block;
        height: 5rem;
        margin-top: 4.8rem;
        padding: 0;
    }

    div#wrapperMainNav img {
        height: 60%;
        margin-top: 2.5%;
    }

    div#wrapperMainNav nav {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        margin: .5rem;
        position: relative;
        bottom: 55%;
        right: -10%;
    }

    div#wrapperMainNav nav#mainNav a {
        margin: .1rem;
        padding: .3rem .5rem;
        text-align: center;
    }




    div#cookieNotice {
        right: 10%;
        bottom: 5rem;
        left: 10%;
        top: 5rem;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        box-shadow: 0px 0px 50px 100px #0f0f0f5c;
    }
}