@import url(https://fontlibrary.org/face/great-vibes);
@import url(https://fontlibrary.org/face/bilbo);

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1rem;
    background-color: #f0f0f0;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    background: rgba(255, 252, 95, 0.596);
}

nav button {
    background: #3f3f41;
    color: #ffffff;
    border-radius: .3rem;
    float: right;
    transition-duration: 0.3s;
    border: 1px solid #1e1e1e ;
    padding: .4rem;
    font-size: 1rem;
}

nav button:hover {
    background: #dcdcdc;
    color: #3f3f41;
}

h1 {
    font-family: 'GreatVibesRegular';
    font-size: 3rem;
}

.dégradé {
    background: linear-gradient(to left, rgb(112,101,214), rgb(250,106,213));
    background-clip: text;
    color: transparent;
    width: 22rem;
}

h2 {
    font-family: 'GreatVibesRegular';
    font-size: 2rem;
    font-weight: normal;
}

#riviere {
    width: 15rem;
    float: right;
    margin-right: 10rem;
}



#auteur button {
    background: #34346d;
    color: #ffffff;
    border-radius: .3rem;
    transition-duration: 0.3s;
    border: 1px solid #34346d;
    padding: .4rem;
}

#auteur button:hover {
    background: #ffffff;
    color: #34346d;
}

#fin {
    display: none;
    background-color: #1e1e1e;
    width: 10rem;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    padding-bottom: .5rem;
    margin: 2rem 0 0 2rem;
}

#fin img {
    width: 100%;
}



#instructions {
    padding: 1rem;
    border-radius: .3rem;
    background: rgba(255, 250, 182, 0.767);
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    height: auto;
    border: 1px solid #3f3f41;
}

#instructions button {
    float: right;
    background: #f4f2f1;
    border: 1px solid rgba(63, 63, 65, 0.514);
    border-radius: .2rem;
}



footer {
    margin-top: 6rem;
    text-align: center;
}