h1 {
    text-align: center;
}

p {
    text-align: justify;
}




/*--------------------------------------------------*/
#wrap {
    display: flex;
    align-items: center;
}

#infos {
    display: block;
    margin: 3rem;
    text-align: justify;
    width: 55%;
    column-count: 2;
}

aside {
    width: 35%;
    height: 40vh;
}

aside iframe {
    height: 30vh;
}