form#commande  {
    margin: 2rem 0 0 2rem;
    font-size: 110%;
}

h1 {
    text-align: center;
}



/*------------------------------------------------------------*/
#progressBar {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

#progressBar .ligne {
    width: 40%;
    height: .5rem;
    background: #83bf4f;
}

#progressBar .gris {
    background: rgba(71, 71, 71, 0.549);
}

.desactive {
    filter: grayscale(1);
}





/*------------------------------------------------------------*/
button, input {
    background: #ffffff;
    border-radius: .35rem;
    border: 1px solid rgb(205, 199, 194);
    padding: .3rem .5rem;
    appearance: none;
     -webkit-appearance: none;
}

input[type="radio"] {
    appearance: radio;
     -webkit-appearance: radio;
}

input[type="checkbox"] {
    appearance: checkbox;
     -webkit-appearance: checkbox;
}

.radio, .check {
    margin-left: 2rem;
}

section, #enregistrer {
    display: block;
    margin: 1rem 0 0 1rem;
}

fieldset {
    display: inline-block;
    height: 3rem;
    margin: 1rem;
    border-radius: .3rem;
    border-color: linear-gradient(90deg, rgba(55,125,223,1) 0%, rgba(94,142,66,1) 27%, rgba(132,201,79,1) 69%, rgba(0,212,255,1) 100%);
}

fieldset p {
    margin: 0;
    line-height: 1.8rem;
}

#enregistrer {
    margin: 2rem;
    padding: .25rem .5rem;
    font-size: 110%;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: .2rem;
    border: 1px solid rgba(17, 17, 17, 0.369);
}

#enregistrer svg {
    margin-left: .5rem;
}




/*------------------------------------------------------------*/
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    appearance: none;
      -webkit-appearance: none; 
}
 
input[type="number"] {
    -moz-appearance: textfield;
}


label[for="adresse"] {
    display: block;
}

input[name="adresse"] {
    width: 21.3rem;
}

label[for="ville"] {
    margin-left: 5rem;
}

input[name="codePostal"] {
    width: 6rem;
    margin-top: .5rem;
}

input[name="ville"] {
    width: 15rem;
    margin-top: .5rem;
}



/*------------------------------------------------------------*/
#reception {
    display: block;
    margin-left: 1.5rem;
    line-height: 1.45rem;
}








/*------------------------------------------------------------*/
#boiteBlanche a {
    background: #000000;
    color: #ffffff;
    cursor: pointer;
    border-radius: .5rem;
    border: 1px solid #000000;
    font-size: 1rem;
    margin-top: 1rem;
    padding: .5rem;
    width: max-content;
    transition-duration: .3s;
}

#boiteBlanche a:hover {
    background: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    text-decoration: none;
}

#boiteBlanche {
    position: fixed;
    background: #ffffff;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0 0 2rem black;
    padding: 1rem;
    max-width: 25%;
}

.disparition {
    animation-name: disparition;
      -webkit-animation-name: disparition;
    animation-duration: .8s;
      -webkit-animation-duration:.8s;
    animation-iteration-count: 1;
      -webkit-animation-iteration-count: 1;
    animation-timing-function: ease;
      -webkit-animation-timing-function: ease;
    animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
  }

  @keyframes disparition {
    0% {
        opacity: 1;
        bottom: 1rem;
    }
    25% {
        opacity: 1;
        bottom: 1.5rem;
    }
    100% {
        opacity: 0;
        bottom: -50rem;
    }
  }