h1 {
    text-align: center;
}


/*--------------------------------------------------*/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: .5rem;
    width: max-content;
    margin: auto;
    padding: 1rem;
}

form input[type="text"] {
    width: 10rem;
}

form label[for="nom"]{
    margin-bottom: 1rem;
}

form input[type='submit'] {
    background: #a0a0a0;
    color: #ffffff;
    padding: .25rem;
    font-size: .9rem;
    border: #a0a0a0;
    border-radius: .2rem;
    margin-top: 1rem;
    cursor: pointer;
}

form label[for="commentaire"] {
    margin-top: 2rem;
    cursor: text;
}


/*--------------------------------------------------*/
h3 {
    text-align: center;
}