@import url(fonts/unique.css);

/*--------------------------------------------------*/
#page {
    font-size: 110%;
}


/*--------------------------------------------------*/
h1 {
    text-align: center;
    font-family: 'UniqueRegular', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem;
    background: linear-gradient(to left, rgba(68, 61, 204, 1.0), rgba(47, 225, 105, 1.0));
    background-clip: text;
      -webkit-background-clip: text;
    color: transparent;
    width: max-content;
    margin: 3.5rem auto;
}

#page p {
    text-align: center;
}

#page p span {
    display: block;
    font-size: 1.15rem;
    margin-bottom: 7rem;
}

#page p a {
    text-decoration: underline;
}