h1, h3 {
    text-align: center;
}

h3 {
    font-weight: normal;
}




/*--------------------------------------------------*/
#catModeles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.modele {
    position: relative;
    width: 15rem;
    height: 19.5rem;
    margin: 20px 0;
    box-sizing: border-box;
    overflow: hidden;
}

.modele img {
    height: 6.7rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    clip-path: circle(400px at center 100px);
    transition: .5s;
}

.modele:hover img {
    clip-path: circle(80px at center 100px);
}

.modele #info {
    position: absolute;
    top: 15rem;
    text-align: center;
    left: 3.8rem;
    font-style: italic;
    font-size: .8rem;
    transition-duration: .5s;
    transform: translateY(20px);
}

.modele:hover #info {
    opacity: 0;
}

.modele #contenu {
    position: absolute;
    top: 11rem;
    bottom: 0;
    width: 100%;
    height: 55%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    font-size: .9rem;
    opacity: 0;
    transition: .5s;
    transform: translateY(20px);
}

.modele:hover #contenu {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .5s;
}

.modele #contenu b {
    font-size: 1.1rem;
    font-weight: bold;
}

.modele #contenu p {
    font-size: 1rem;
    opacity: 1;
}

.modele #contenu p i {
    font-style: normal;
    font-weight: bold;
}